pipeline/PL_Child_Incremental.json
{
	"name": "PL_Child_Incremental",
	"properties": {
		"activities": [
			{
				"name": "LKUP_MAX_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT MAX(', pipeline().parameters.WatermarkColumn, ') AS MaxValue FROM ', pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKUP_MAX_VALUE",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": {
								"value": "@pipeline().parameters.TableSchema",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IF_CHECK_NEW_DATA",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_MAX_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    equals(activity('LKUP_MAX_WATERMARK').output.firstRow.MaxValue, null),\n    greater(int(activity('LKUP_MAX_WATERMARK').output.firstRow.MaxValue), int(pipeline().parameters.LastLoadValue))\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY_INCREMENTAL_DATA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@if(\n         equals(pipeline().parameters.LastLoadValue, '0'),\n         concat('SELECT * FROM ', pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName),\n         concat('SELECT * FROM ', pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName, ' WHERE ', pipeline().parameters.WatermarkColumn, ' > ', pipeline().parameters.LastLoadValue)\n     )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LKUP_MAX_VALUE",
									"type": "DatasetReference",
									"parameters": {
										"TableSchema": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Sink_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_UPDATE_WATERMARK",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY_INCREMENTAL_DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWatermark]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"WatermarkColumn": {
										"value": {
											"value": "@pipeline().parameters.WatermarkColumn",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLServer_OnPrem",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "DimCustomer"
			},
			"WatermarkColumn": {
				"type": "string",
				"defaultValue": "CustomerKey"
			},
			"LastLoadValue": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}