pipeline/PL_Delete_Old_Files.json
{
	"name": "PL_Delete_Old_Files",
	"properties": {
		"activities": [
			{
				"name": "DeleteLast3DaysFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_GEN2_SourceFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FE_CheckEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "DeleteLast3DaysFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('DeleteLast3DaysFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GET_FileLastModified",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_GEN2_Delete_old_files",
									"type": "DatasetReference",
									"parameters": {
										"p_fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GET_FileLastModified",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@less(activity('GET_FileLastModified').output.lastModified, addDays(utcNow(), -3))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Delete1",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_ADLS_GEN2_Delete_old_files",
												"type": "DatasetReference",
												"parameters": {
													"p_fileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "LS_DELETE_OLD_FILES",
													"type": "LinkedServiceReference"
												},
												"path": {
													"value": "logs/delete-activity-logs",
													"type": "Expression"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}